{% extends "base.html" %}

{% load render_spittle %}

{% block title %} List - {{ block.super }} {% endblock %}

{% block header %}
    <div class="container">
    <div class="hero-unit">
        <h1>Spittles List</h1>
        <p>Spittles are short notices that can be added to site.</p>
    </div>
{% endblock %}

{% block content %}
        {% for identity in identities %}
            {% render_spittle identity %}
        {% empty %}
            <dt>
                No spittles as for yet.
            </dt>
        {% endfor %}
{% endblock %}

{% block footer %}
    <br />
    <hr />
    <footer>
        <p>&copy; Test Application for 7Web</p>
    </footer>
    </div>
{% endblock %}